
/*搜索样式*/
.s_bar{clear:both;padding:10px 5px;overflow:hidden;}
.s_bar .s_tb{float:left;border:1px solid #E88F1B;border-right:0px;padding-left:5px;height:32px;width:200px;font-size:14px;line-height:32px;color:#666}
.s_bar .s_bt{float:left;margin-left:-2px;border:0px;background:url(images/bn_srh.png) no-repeat;width:88px;height:36px;cursor:pointer}

a.more_article{display:block;width:auto;border:1px solid #ececec;padding:5px 0px;text-align:center;font-size:16px;color:#ff6600;}
a.more_article:hover{background-color:#ff6600;color:#fff}

/*文章样式*/
.article{overflow:hidden;}
.article li{clear:both;height:30px;padding-top:10px;text-align:left;border:0px dotted #cccccc;border-width:0 0 1px 0;overflow:hidden;}
.article li span{float:left;width:16px;height:16px;margin-top:7px;line-height:16px;text-align:center;color:#fff;background:url(images/xh_icon.png) no-repeat left top;margin-right:5px;font-size:11px}
.article li .r{background-position:-16px 0px;}
.article li a{font-size:13px;line-height:30px;color:#666666}
.article li a:hover{color:#ff6600}
#nav_126 .article span{display:none}


.tw_article{clear:both;padding-bottom:20px;}
.tw_article li{text-align:left;padding:25px 0px;border-bottom:1px solid #ececec;overflow:hidden;} /*置顶通用样式*/
.tw_article .pic{float:left;margin:5px 20px 5px 0;border:1px solid #dddddd;_display:inline;line-height:0px;}
.tw_article .pic img{border:0px;width:180px;height:110px;}

.tw_article .title{display:block;text-align:left;line-height:22px;}
.tw_article .title a{font-size:18px;line-height:22px;color:#333}
.tw_article .title a:hover{color:#ff6600}
.tw_article .info{display:block;text-align:left;padding:2px 0px 3px 0px;color:#999;font-size:13px;line-height:20px;}
.tw_article .info a{color:#999;}
.tw_article .introduction{display:block;padding:2px 5px 5px 0px;line-height:26px;font-size:15px;color:#666666;}

.articleinfor .title{text-align:left;padding:10px 0 10px 0;}
.articleinfor .title h1{font-size:20px;font-weight:bold;color:#FF6600}
.articleinfor .info{text-align:left;padding:10px 0px 10px 0px;color:#666;font-size:14px;}
.articleinfor .info a{color:#666;}
.articleinfor .info a:hover{color:#FF6600}

.articleinfor .content{font-size:16px;line-height:200%;padding:10px 0 10px 0;color:#555555}
.articleinfor .content h2{font-size:18px;line-height:30px;}
.articleinfor .content p{margin-bottom:20px;text-indent:33px}
.articleinfor .content img{max-width:95%;height:auto;border-width:0px;}
.articleinfor .content blockquote{margin:0px;padding:5px 10px;background-color:#FFE8C4}

.articleinfor .bz{text-align:center;width:250px;background-color:#ffff99;border:1px solid #ff9900;padding:2px 0 3px 0;}

.article_pn{clear:both;padding:10px 0px;font-size:15px;overflow:hidden}
.article_pn li{width:50%;float:left;height:22px;line-height:22px;color:#ff6600;overflow:hidden}
.article_pn li.next{float:right;text-align:right}


.related_article{display:block;margin:10px 0 10px 0}
.related_article .header{font-size:15px;color:#ff6600;line-height:25px;}
.related_article li{height:25px;padding:0 10px 0 10px;background:url(images/article_arrow.gif) no-repeat left center;}
.related_article li a{font-size:15px;}


/*用户反馈 流言本模式*/

.guestbook{font-size:13px;line-height:25px}

.feedback_table{width:98%;border:1px solid #dddddd;}
.feedback_table td{border:1px solid #dddddd;}

.feedback_box{margin:5px 0 10px 5px;border:1px solid #cccccc;padding:15px 0 10px 5px;height:100%;overflow:hidden;background-color:#ffffff}

.feedbacklist_box{border:0 solid #cccccc;margin:5px 0 5px 5px;}
.feedbacklist_item_jiange{clear:both;height:2px;line-height:0px;font-size:1px;border:0 dotted #cccccc;border-width:0 0 1px 0;margin:5px 0 5px 0}
.feedbacklist_item_box{clear:both;border:0 solid #cccccc;border-width:1px 1px 1px 1px;padding:5px 5px 10px 10px;margin:0 0 15px 0;height:100%;background-color:#ffffff;overflow:hidden;}

